<h1> Add your own photos:</h1>

<form action="http://localhost:3000/create_photo">
  <label>Caption</label>
  <input type = "text" name = "the_caption">

  <label>Image URL</label>
  <input type = "text" name = "the_source">
<button>Create Photo</button>
</form>

<!-- when click submit, should take you back to index page and show your photo that you added at the bottom -->
